@page "/dataBarang"
@using bzrArachne.Service
@using bzrArachne.Models
@inject DataService DataService
@inject NavigationManager NavigationManager
@inject IToastService ToastService
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Data Barangg</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="card-title">
                        @*<button type="button" class="btn btn-primary" @onclick="@(()=> ToastService.ShowWarning("Stok Barang hampir habis"))">
                                    Toast
                            </button>*@
                        <input type="search" @bind-value="SearchTerm" @bind-value:event="oninput" class="form-control form-control-sm" placeholder="Cari Barang ...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>Nama</th>
                                    <th>Satuan</th>
                                    <th>Stok</th>
                                    <th>Opsi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in FilteredBarang)
                                {
                                    <tr>
                                        <td>
                                            @item.Nama
                                            @if (item.Stok <= item.Minimum)
                                            {<i style="color:red; padding:8px;" class="fa fa-exclamation-circle" aria-hidden="true"></i>}
                                        </td>
                                        <td>@item.Satuan</td>
                                        <td>@item.Stok</td>
                                        <td>
                                            <a type="button" class="btn btn-block btn-primary btn-sm" @onclick="(()=>ModalShow(item))">
                                                Buat Penawaran
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (showModal)
    {
        <div class="modal fade show" id="modal-default" style="display: block; padding-right: 17px;" aria-modal="true" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Form Penawaran</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Nama Barang</label>
                                <input type="text" class="form-control" value="@BarangDipilih.Nama">
                            </div>
                            <div class="form-group">
                                <label>Jumlah Barang</label>
                                <input type="text" class="form-control" placeholder="200">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" @onclick="@ModalCancel">Batal</button>
                        <button type="button" class="btn btn-primary" @onclick="@ModalSubmit">Simpan</button>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
@code {
    private DataUser user = new DataUser();
    private List<DataBarang> _daftarBarang = new List<DataBarang>();
    DataBarang BarangDipilih = new DataBarang();
    bool showModal = false;
    string SearchTerm { get; set; } = "";
    List<DataBarang> FilteredBarang => _daftarBarang.Where(i => i.Nama.ToLower().Contains(SearchTerm)).ToList();
    List<DataBarang> StokBarang => _daftarBarang.Where(i => i.Stok <= i.Minimum).ToList();

    protected override async Task OnInitializedAsync()
    {
        user = DataService.User;
        var Token = DataService.Token;
        if (!String.IsNullOrEmpty(Token))
        {
            //_daftarBarang = await DataService.GetDataBarang();
            //base.OnInitialized();
            var timer = new System.Threading.Timer((_) =>
            {
                InvokeAsync(async () =>
                {
                    StokBarang.Clear();
                    _daftarBarang = await DataService.GetDataBarang();
                    foreach (var item in StokBarang)
                    {
                        ToastService.ShowWarning($"{item.Nama} dengan satuan {item.Satuan} hampir habis");
                    }
                    StateHasChanged();
                });
            }, null, 0, 5000);

        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }

    void ModalShow(DataBarang item)
    {
        BarangDipilih = item;
        showModal = true;

    }
    void ModalCancel() => showModal = false;
    void ModalSubmit()
    {
        Console.WriteLine("Modal ok");
        showModal = false;
    }
}
