@page "/dataBarang"
@using bzrArachne.Service
@using bzrArachne.Models
@inject DataService DataService
@inject NavigationManager NavigationManager
@inject IToastService ToastService
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Data Barang</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
            <div class="card-title">
                <button type="button" class="btn btn-primary" @onclick="(() => MoveToPenawaranBarangBaru())">
                    Buat Penawaran
                </button>
            </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>
                                        Nama
                                        <a type="button" style="float:right" @onclick="@ShowSearchNama">
                                            <i class="fas fa-angle-down"></i>
                                        </a>
                                    </th>
                                    <th>
                                        Satuan
                                        <a type="button" style="float:right" @onclick="@ShowSearchSatuan">
                                            <i class="fas fa-angle-down"></i>
                                        </a>
                                    </th>
                                    <th>
                                        Stok
                                        <a type="button" style="float:right" @onclick="@ShowSearchStok">
                                            <i class="fas fa-angle-down"></i>
                                        </a>
                                    </th>
                                    <th>Opsi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @if (showSearchNama)
                                    {
                                        <td>
                                            <div class="input-group mb-3">
                                                <input type="text" @bind-value="SearchNama" @bind-value:event="oninput" class="form-control" placeholder="Cari Barang ...">
                                                <div class="input-group-append">
                                                    <a type="button" class="input-group-text btn-danger" @onclick="@RemoveSearchNama">X</a>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                    @if (showSearchSatuan)
                                    {
                                        <td>
                                            <div class="input-group mb-3">
                                                <input type="text" @bind-value="SearchSatuan" @bind-value:event="oninput" class="form-control" placeholder="Cari Satuan ...">
                                                <div class="input-group-append">
                                                    <a type="button" class="input-group-text btn-danger" @onclick="@RemoveSearchSatuan">X</a>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                    @if (showSearchStok)
                                    {
                                        <td>
                                            <div class="input-group mb-3">
                                                <input type="number" @bind-value="SearchStok" @bind-value:event="oninput" class="form-control" placeholder="Cari Stok ...">
                                                <div class="input-group-append">
                                                    <a type="button" class="input-group-text btn-danger" @onclick="@RemoveSearchStok">X</a>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                </tr>
                                @foreach (var item in FilteredBarang)
                                {
                                    <tr>
                                        <td>
                                            @item.Nama
                                            @if (item.Stok <= item.Minimum)
                                            {<i style="color:red; padding:8px;" class="fa fa-exclamation-circle" aria-hidden="true"></i>}
                                        </td>
                                        <td>@item.Satuan</td>
                                        <td>@item.Stok</td>
                                        <td>
                                            @if (item.Stok <= item.Minimum)
                                            {<a tabindex="_blank" @onclick="(() => MoveToPenawaran(item))" class="btn btn-block btn-primary btn-sm">
                                                    Buat Penawaran
                                                </a>}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@code {
    private DataUser user = new DataUser();
    private List<DataBarang> _daftarBarang = new List<DataBarang>();
    DataBarang BarangDipilih = new DataBarang();
    string SearchNama { get; set; } = "";
    string SearchSatuan { get; set; } = "";
    int SearchStok { get; set; } = 1000;
    bool showSearchNama = false;
    bool showSearchSatuan = false;
    bool showSearchStok = false;
    List<DataBarang> FilteredBarang => _daftarBarang.Where(i => i.Nama.ToLower().Contains(SearchNama) && i.Satuan.ToLower().Contains(SearchSatuan) && i.Stok <= SearchStok).ToList();
    List<DataBarang> StokBarang => FilteredBarang.Where(i => i.Stok <= i.Minimum).ToList();
    protected override async Task OnInitializedAsync()
    {
        user = DataService.User;
        var Token = DataService.Token;
        if (!String.IsNullOrEmpty(Token))
        {
            var dataBarang = DataService.GetDataBarangWithGroupBy();
            await foreach (var item in dataBarang)
            {
                _daftarBarang.Add(new DataBarang
                {
                    IdBarang = item.IdBarang,
                    IdDivisiBarang = item.IdDivisiBarang,
                    IdSubDivisiBarang = item.IdSubDivisiBarang,
                    IdKategoriBarang = item.IdKategoriBarang,
                    IdSubKategoriBarang = item.IdSubKategoriBarang,
                    IdSupplier = item.IdSupplier,
                    IdJenisSupplier = item.IdJenisSupplier,
                    IdSatuan = item.IdSatuan,
                    Nama = item.Nama,
                    Satuan = item.Satuan,
                    Stok = item.Stok,
                    Minimum = item.Minimum,
                    Maksimum = item.Maksimum,
                    NamaSupplier = item.NamaSupplier
                });
                this.StateHasChanged();
            }
            foreach (var item in StokBarang)
            {
                ToastService.ShowWarning($"{item.Nama} dengan satuan {item.Satuan} hampir habis");
            }
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }
    void ShowSearchNama() => showSearchNama = true;
    void RemoveSearchNama() { SearchNama = ""; showSearchNama = false; }
    void ShowSearchSatuan() => showSearchSatuan = true;
    void RemoveSearchSatuan() { SearchSatuan = ""; showSearchSatuan = false; }
    void ShowSearchStok() => showSearchStok = true;
    void RemoveSearchStok() { SearchStok = 1000; showSearchStok = false; }
    void MoveToPenawaran(DataBarang Item)
    {
        DataService.SetBarangDipilih(Item);
        
        NavigationManager.NavigateTo("penawaranBaru");
    }
    void MoveToPenawaranBarangBaru()
    {
        NavigationManager.NavigateTo("penawaranBarangBaru");
    }
}