@page "/penawaranBaru"
@using bzrArachne.Service
@using bzrArachne.Models
@inject DataService DataService
@inject FormAtributService FormAtributService
@inject PenawaranService PenawaranService
@inject NavigationManager NavigationManager
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal
@inject IToastService ToastService
<div class="card card-dark ml-4 mr-4">
    <div class="card-header">
        <h2 class="card-title">Form Penawaran</h2>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Supplier</label>
                <div class="col-sm-4">
                    <input type="text" disabled @bind="user.Nama" class="form-control">
                </div>
                @{
                    Tanggal = DateTimeOffset.UtcNow.LocalDateTime;
                }
                <label class="col-sm-1 col-form-label">Tanggal</label>
                <div class="col-sm-4">
                    <input disabled @bind="Tanggal" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Alamat</label>
                <div class="col-sm-4">
                    <textarea type="text" disabled @bind="user.Alamat" class="form-control"></textarea>
                </div>
                <label class="col-sm-1 col-form-label">Termin</label>
                <div class="col-sm-4">
                    <select class="form-control">
                        <option>Pilih Termin</option>

                        @foreach (var itemTermin in dataTermins)
                        {
                            <option value="@itemTermin.IdTermin">@itemTermin.Termin</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <hr />
            <!--Form Detail Penawaran-->
            <div class="card card-dark">
                <div class="card-body">
                    <h4 class="card-blue">Detail Penawaran</h4>
                    <table width="100%" id="example1" class="table table-bordered table-striped dataTable dtr-inline" style="margin-bottom: 0;font-size:smaller" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr>
                                <th width="1%">No</th>
                                <th width="20%">Catatan</th>
                                <th width="10%">Jml</th>
                                <th width="9%">Satuan</th>
                                <th width="20%">Nama</th>
                                <th width="12%">Harga</th>
                                <th width="3%">Diskon%</th>
                                <th width="11%">Diskon(Rp.)</th>
                                <th width="14%">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var no = 1;
                                foreach (var data in barangPenawarans)
                                {
                                    <tr aria-expanded="false">
                                        <td style="font-size:small">
                                            @no
                                        </td>
                                        <td>
                                            <div class="input-group mb-3">
                                                <input style="font-size:small" data-toggle="tooltip" data-placement="top" title="@data.CatatanPenawaran" autofocus="" type="text" @bind="data.CatatanPenawaran" class="form-control">
                                                <div class="input-group-append">
                                                    <div id="@data.IdBarang" class="input-group-text">
                                                        <span @onclick="@expandshow" class="fas fa-search-plus"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="font-size:small">
                                            <div style="font-size:small">

                                                @{
                                                    var pesanstok = data.Maksimum - data.Stok;
                                                    if (data.Jumlah <= 0 || data.Stok + data.Jumlah > data.Maksimum)
                                                    {
                                                        <input style="font-size:small" data-toggle="tooltip" data-placement="top" title="Jumlah Tidak Boleh Kosong dan lebih dari @pesanstok" type="text" @bind="data.Jumlah" id="validationServer05Feedback" class="form-control is-invalid" required>
                                                    }
                                                    else
                                                    {
                                                        <input style="font-size:small" type="text" @bind="data.Jumlah" id="validationServer05Feedback" class="form-control is-valid" required>
                                                    }
                                                }

                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input style="font-size:small" type="text" disabled @bind="data.Satuan" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input style="font-size:small" data-toggle="tooltip" data-placement="top" title="@data.Nama" type="text" disabled @bind="data.Nama" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                @if (data.Harga <= 0)
                                                {
                                                    <input style="font-size:small" data-toggle="tooltip" data-placement="top" title="Harga harus diisi" type="text" @bind="data.Harga" id="validationServer05Feedback" class="form-control is-invalid" required>
                                                }
                                                else
                                                {
                                                    <input style="font-size:small" type="text" @bind="data.Harga" id="validationServer05Feedback" class="form-control is-valid" required>
                                                }

                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input style="font-size:small" type="number" @bind="data.DiskonNominal" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                @{
                                                    data.DiskonDetil = data.Jumlah * data.Harga * data.DiskonNominal / 100;
                                                }
                                                <input style="font-size:small" type="text" @bind="data.DiskonDetil" disabled class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                @{

                                                    var harga_diskon = data.Jumlah * data.Harga * data.DiskonNominal / 100;
                                                    data.Total = data.Harga * data.Jumlah - harga_diskon;
                                                    //string TotalString = String.Format("{0:C}", data.Total);
                                                }
                                                <input style="font-size:small" type="text" @bind="data.Total" disabled class="form-control">
                                            </div>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <div>

                                                <a @onclick="(() => HapusBarangDariList(data))"><i class="fa fa-trash" style="color:red;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    @if (showexpand)
                                    {
                                        <tr class="expandable-body">
                                            <td colspan="5">
                                                <div class="input-group mb-3">
                                                    <input autofocus="" type="text" @bind="data.CatatanPenawaran" class="form-control" >
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span @onclick="@expandclose" class="fas fa-search-minus" style="color:red"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                 no++;
                                 }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td align="right" colspan="10"><a class="btn btn-success rounded-circle" @onclick="@ModalShow"><i class="oi oi-plus"></i></a></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label border-danger">Catatan Penawaran</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <textarea type="text" @bind="@_catatan" class="form-control"></textarea>
                        </div>
                        <div class="col-sm-8 align-items-end pull-right right right">
                            @{
                                _grandtotal = barangPenawarans.Sum(m => m.Total);
                                _grandDetil = barangPenawarans.Sum(m => Convert.ToDouble(m.DiskonDetil));
                                _grandDiskon = barangPenawarans.Sum(m => m.DiskonNominal);
                                //string GrandTotal = String.Format("{0:C}",_grandtotal);
                            }
                            <label class="col-sm-4 col-form-label">Total Penawaran (Rp.) : </label>
                            <input style="text-align:center" type="text" disabled @bind="_grandtotal" pattern="(d{3})([.])(d{2})" class="col-sm-4 col-form-label rounded-pill border border-success" />
                        </div>
                    </div>
                </div>
            </div><!-- /.card-body -->
            <div class="card-footer">
                <button type="button" @onclick="(() => BackToBarang())" class="btn btn-default">Batal</button>
                <a type="submit" @onclick="(() => SendDataPenawaran())" class="btn btn-primary">Kirim Penawaran</a>
            </div>
        </div>
    </form>

    <!--MODAL BARANG YANG SUDAH ADA-->
    @if (showModal)
    {
        <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Barang</h4>
                        <button type="button" class="close" @onclick="@ModalCancel" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>
                                        Nama
                                        <a type="button" style="float:right" @onclick="@ShowSearchNama">
                                            <i class="fas fa-angle-down"></i>
                                        </a>
                                    </th>
                                    <th>
                                        Satuan
                                        <a type="button" style="float:right" @onclick="@ShowSearchSatuan">
                                            <i class="fas fa-angle-down"></i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @if (showSearchNama)
                                    {
                                        <td>
                                            <div class="input-group mb-3">
                                                <input type="text" @bind-value="SearchNama" @bind-value:event="oninput" class="form-control" placeholder="Cari Barang ...">
                                                <div class="input-group-append">
                                                    <a type="button" class="input-group-text btn-danger" @onclick="@RemoveSearchNama">X</a>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                    @if (showSearchSatuan)
                                    {
                                        <td>
                                            <div class="input-group mb-3">
                                                <input type="text" @bind-value="SearchSatuan" @bind-value:event="oninput" class="form-control" placeholder="Cari Satuan ...">
                                                <div class="input-group-append">
                                                    <a type="button" class="input-group-text btn-danger" @onclick="@RemoveSearchSatuan">X</a>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                </tr>
                                @foreach (var ItemBaru in FilteredBarang)
                                {

                                    <tr>
                                        <td>
                                            @ItemBaru.Nama
                                        </td>
                                        <td>@ItemBaru.Satuan</td>

                                        @*<td>
                                                <input  type="checkbox" checked="checked"  @onclick="(() => TambahBarangKeList(ItemBaru))" class="btn btn-block btn-primary btn-sm"/>
                                            </td>*@
                                        <td>
                                            <input type="checkbox" @onchange="eventArgs => { CheckboxClicked(ItemBaru, eventArgs.Value); }" class="btn btn-block btn-primary btn-sm" />
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">

                        <button type="button" style="float:left" class="btn btn-primary" @onclick="@ModalBarangShow">Tambah Barang Baru</button>
                        <button type="button"  @onclick="(() => TambahBarangKeList())" class="btn btn-success">Tambah Barang</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--MODAL BARANG YANG SUDAH ADA-->

    <!------------------------------------------------------------ModalBarangBaru----------------------------------------------------------------->
    @if (showModalBarang)
    {
        <div class="modal fade show" id="myModal2" style="display:block" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Form Barang Baru</h4>
                        <button type="button" class="close" @onclick="@ModalBarangCancel" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Nama Barang</label>
                                    @{
                                        var Div = DivisiBarang.Where(i => i.IdDivisi.ToString() == SelectedDivisi).FirstOrDefault();
                                        var SubDiv = SubDivisiBarang.Where(i => i.Keterangan == SelectedSubDivisi).FirstOrDefault();
                                        SelectedDivisiNama = Div.Divisi;
                                        SelectedSubDivisiNama = SubDiv.SubDivisi;
                                        NamaBaru = $"{Div.Divisi} {SubDiv.SubDivisi} {SelectedUkuran}";
                                    }
                                    <input type="text" @bind="NamaBaru" class="form-control" placeholder="Xyz">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Ukuran</label>
                                    <select class="form-control" @bind="SelectedUkuran">
                                        @{
                                            if (SelectedSubDivisi.Contains("Cotton"))
                                            {
                                                var data = UkuranBarang.Where(i => i.Ukuran.Contains("S")).ToList();
                                                @foreach (var item in data)
                                                {
                                                    <option value="@item.Ukuran">@item.Ukuran</option>
                                                }
                                                <option>Lainnya</option>
                                            }
                                            else
                                            {
                                                var data = UkuranBarang.Where(i => i.Ukuran.Contains("D")).ToList();
                                                @foreach (var item in data)
                                                {
                                                    <option value="@item.Ukuran">@item.Ukuran</option>
                                                }
                                                <option>Lainnya</option>
                                            }
                                        }
                                    </select>
                                    @if (SelectedUkuran == "Lainnya") {
                                    <br />
                                    <input @bind="UkuranLainnya" type="text" class="form-control" placeholder="Ukuran Lainnya">
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Divisi Barang</label>
                                    <select @bind="SelectedDivisi" class="form-control">
                                        @foreach (var item in DivisiBarang)
                                        {
                                            <option value="@item.IdDivisi.ToString()">@item.Divisi</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Satuan</label>
                                    <select class="form-control" @bind="SelectedSatuan">
                                        <option value="Cone">Cone</option>
                                        <option value="Bale">Bale</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Sub Divisi Barang</label>
                                    <select class="form-control" @bind="SelectedSubDivisi">
                                        @foreach (var item in FilteredSubDivisiBarang)
                                        {
                                            <option value="@item.Keterangan">@item.Keterangan</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Harga Barang</label>
                                    <input @bind="HargaBaru" type="number" class="form-control" placeholder="Rp0">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Kategori Barang</label>
                                    <select class="form-control" @bind="SelectedKategori">
                                        @foreach (var item in KategoriBarang)
                                        {
                                            <option value="@item.Kategori">@item.Kategori</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" @onclick="(() => TambahBarangBaru())" class="btn btn-success">Tambah</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code
{
    //MODAL
    void CheckboxClicked(DataBarang ItemC, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            if (!datachecked.Contains(ItemC))
            {
                datachecked.Add(ItemC);
            }
        }
        else
        {
            if (datachecked.Contains(ItemC))
            {
                datachecked.Remove(ItemC);
            }
        }
    }
    bool checkedValue { get; set; }
    DateTimeOffset Tanggal { get; set; }
    double _grandtotal { get; set; }
    double _grandDiskon { get; set; }
    double _grandDetil { get; set; }
    string _catatan { get; set; }
    bool showModal = false;
    bool showModalBarang = false;
<<<<<<< HEAD
    void ModalShow() => showModal = true;
    void ModalCancel() => showModal = false;
    bool showexpand = false;
    void expandshow() => showexpand = true;
    void expandclose() => showexpand = false;
    //
    async void ModalBarangShow()
    {
        showModal = false;
        showModalBarang = true;
    }

    void ModalBarangCancel() => showModalBarang = false;

=======
    private string NamaBaru { get; set; }
    private double HargaBaru { get; set; }
    private string SelectedDivisi { get; set; } = "3001";
    private string SelectedDivisiNama { get; set; } = "";
    private string SelectedSubDivisi { get; set; } = "Spandex";
    private string SelectedSubDivisiNama { get; set; } = "";
    private string SelectedKategori { get; set; } = "Raw";
    private string SelectedUkuran { get; set; } = "40D";
    private string UkuranLainnya { get; set; } = "";
    private string SelectedSatuan { get; set; } = "Cone";
    List<DivisiBarang> DivisiBarang = new List<DivisiBarang>();
    List<SubDivisiBarang> SubDivisiBarang = new List<SubDivisiBarang>();
    List<SubDivisiBarang> FilteredSubDivisiBarang => SubDivisiBarang.Where(i => i.IdDivisi.ToString() == SelectedDivisi).ToList();
    List<KategoriBarang> KategoriBarang = new List<KategoriBarang>();
    List<UkuranBarang> UkuranBarang = new List<UkuranBarang>();
    List<UkuranBarang> FilteredUkuranBarang = new List<UkuranBarang>();
>>>>>>> 0a13c8ac63293b4f4727f22203ecbf9ce04ecd94
    Random rnd = new Random();
    //filter
    bool showSearchNama = false;
    bool showSearchSatuan = false;
    string SearchNama { get; set; } = "";
    string SearchSatuan { get; set; } = "";
    List<DataBarang> FilteredBarang => _daftarBarang.Where(i => i.Nama.ToLower().Contains(SearchNama) && i.Satuan.ToLower().Contains(SearchSatuan)).ToList();
    List<DataBarang> datachecked { get; set; } = new List<DataBarang>();
    private DataUser user = new DataUser();
    private DataBarang Item { get; set; }
    private DataPenawaran dataPenawaran = new DataPenawaran();
    private List<DataBarang> _daftarBarang = new List<DataBarang>();
    List<BarangPenawaran> barangPenawarans = new List<BarangPenawaran>();
    List<DataTermin> dataTermins = new List<DataTermin>();
    protected override async Task OnInitializedAsync()
    {
        dataTermins = await Task.Run(() => PenawaranService.GetDataTermin());
        user = DataService.User;
        var Token = DataService.Token;
        if (!String.IsNullOrEmpty(Token))
        {

            GetAtributForm();
            Item = DataService._barangDipilih;
            barangPenawarans.Add(new BarangPenawaran
            {
                IdBarang = Item.IdBarang,
                IdDetilPenawaranPembelian = rnd.Next(1, 1000),
                IdSatuan = Item.IdSatuan,
                IdDivisiBarang = Item.IdDivisiBarang,
                IdSubDivisiBarang = Item.IdSubDivisiBarang,
                IdKategoriBarang = Item.IdKategoriBarang,
                IdSubKategoriBarang = Item.IdSubKategoriBarang,
                Satuan = Item.Satuan,
                Nama = Item.Nama,
                Stok = Item.Stok,
                Minimum = Item.Minimum,
                Maksimum = Item.Maksimum,
                CatatanPenawaran = Item.CatatanPenawaran

            });
            var dataBarang = DataService.GetDataBarangWithGroupBy();
            foreach (var value in barangPenawarans)
            {
                await foreach (var item in dataBarang)
                {

                    if (item.Stok <= item.Minimum && item.IdBarang != value.IdBarang)
                    {
                        _daftarBarang.Add(new DataBarang
                        {
                            IdBarang = item.IdBarang,
                            IdDivisiBarang = item.IdDivisiBarang,
                            IdSubDivisiBarang = item.IdSubDivisiBarang,
                            IdKategoriBarang = item.IdKategoriBarang,
                            IdSubKategoriBarang = item.IdSubKategoriBarang,
                            IdSupplier = item.IdSupplier,
                            IdJenisSupplier = item.IdJenisSupplier,
                            IdSatuan = item.IdSatuan,
                            Nama = item.Nama,
                            Satuan = item.Satuan,
                            Stok = item.Stok,
                            Minimum = item.Minimum,
                            Maksimum = item.Maksimum,
                            NamaSupplier = item.NamaSupplier
                        });

                    }
                }
            }
            this.StateHasChanged();
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }
    void ModalShow() => showModal = true;
    void ModalCancel() => showModal = false;
    void ModalBarangShow()
    {
        showModal = false;
        showModalBarang = true;
    }
    void ModalBarangCancel() => showModalBarang = false;
    void TambahBarangKeList()
    {
        foreach (var data in datachecked)
        {
            barangPenawarans.Add(new BarangPenawaran
            {
                IdBarang = data.IdBarang,
                IdDetilPenawaranPembelian = rnd.Next(1, 1000),
                IdSatuan = data.IdSatuan,
                IdDivisiBarang = data.IdDivisiBarang,
                IdSubDivisiBarang = data.IdSubDivisiBarang,
                IdKategoriBarang = data.IdKategoriBarang,
                IdSubKategoriBarang = data.IdSubKategoriBarang,
                Satuan = data.Satuan,
                Nama = data.Nama,
                Stok = data.Stok,
                Minimum = data.Minimum,
                Maksimum = data.Maksimum

            });
            _daftarBarang.Remove(data);
        }
        ModalCancel();
        datachecked.Clear();
    }
    void HapusBarangDariList(BarangPenawaran Item)
    {
        barangPenawarans.Remove(Item);

    }
    void BackToBarang()
    {
        DataService.SetNullBarangDipilih();
        NavigationManager.NavigateTo("dataBarang");
    }
    async Task SendDataPenawaran()
    {
        var check = barangPenawarans.Where(x => x.Stok + x.Jumlah > x.Maksimum || x.Harga == 0 || x.Jumlah == 0).ToList();
        if (check.Count == 0)
        {
            dataPenawaran = new DataPenawaran
            {
                IdPenawaranPembelian = rnd.Next(1, 1000),
                IdJenisSupplier = user.IdJenisSupplier,
                IdSupplier = user.IdSupplier,
                IdCompanyPenerima = "GWR",
                BarangPenawaran = barangPenawarans,
                GrandTotal = _grandtotal,
                DiskonDetil = _grandDetil.ToString(),
<<<<<<< HEAD
                DiskonNominal = _grandDiskon,
                Catatan = _catatan,




=======
                DiskonNominal = _grandDiskon,  
>>>>>>> 0a13c8ac63293b4f4727f22203ecbf9ce04ecd94
            };
            var send = await PenawaranService.InsertDataRepeated(dataPenawaran);
            DataService.SetNullBarangDipilih();
            Item = null;
            barangPenawarans.Clear();
            dataPenawaran = null;

            if (send)
            {
                await Swal.FireAsync(
                "Sukses",
                "Data Penawaran Berhasil terkirim :)",
                SweetAlertIcon.Success
                );
                NavigationManager.NavigateTo("dataBarang");
            }
            else
            {
                await Swal.FireAsync(
                "Gagal",
                "Data Penawaran gagal terkirim :)",
                SweetAlertIcon.Error
                );
            }
        }
        else
        {
            ToastService.ShowError($" Pastikan Jumlah dan harga Sudah terisi dengan Benar");
        }


    }
    void ShowSearchNama() => showSearchNama = true;
    void RemoveSearchNama() { SearchNama = ""; showSearchNama = false; }
    void ShowSearchSatuan() => showSearchSatuan = true;
    void RemoveSearchSatuan() { SearchSatuan = ""; showSearchSatuan = false; }
    async void GetAtributForm()
    {
        var dataDivisi = FormAtributService.GetDivisiBarang();
        DivisiBarang.Clear();
        await foreach (var item in dataDivisi)
        {
            DivisiBarang.Add(new DivisiBarang {
                IdDivisi = item.IdDivisi,
                Divisi = item.Divisi,
            });
        }

        var dataSubDivisi = FormAtributService.GetSubDivisiBarang();
        SubDivisiBarang.Clear();
        await foreach (var item in dataSubDivisi)
        {
            SubDivisiBarang.Add(new SubDivisiBarang
            {
                IdDivisi = item.IdDivisiBarang,
                IdSubDivisi = item.IdSubDivisi,
                SubDivisi = item.SubDivisi,
                Keterangan = item.Keterangan,
            });
        }

        var dataKategori = FormAtributService.GetKategoriBarang();
        KategoriBarang.Clear();
        await foreach (var item in dataKategori)
        {
            KategoriBarang.Add(new KategoriBarang
            {
                IdKategori = item.IdKategoriBarang,
                Kategori = item.KategoriBarang,
            });
        }

        var dataUkuran = FormAtributService.GetUkuranBarang();
        UkuranBarang.Clear();
        await foreach (var item in dataUkuran)
        {
            UkuranBarang.Add(new UkuranBarang
            {
                Ukuran = item.DataOption
            });
        }
    }
    void TambahBarangBaru()
    {
        var ukuran = "";
        if(SelectedUkuran == "Lainnya")
        {
            ukuran = UkuranLainnya;
        }else
        {
            ukuran = SelectedUkuran;
        }
        barangPenawarans.Add(new BarangPenawaran
        {
            Nama = NamaBaru,
            Satuan = SelectedSatuan,
            DivisiBarang_Divisi = SelectedDivisiNama,
            SubDivisiBarang_SubDivisi = SelectedSubDivisiNama,
            KategoriBarang_Kategori = SelectedKategori,
            Barang_Ukuran = ukuran,
            Harga = HargaBaru,
        });
        NamaBaru = "";
        HargaBaru = 0;
        SelectedDivisi = "3001";
        SelectedDivisiNama = "";
        SelectedSubDivisi = "Spandex";
        SelectedSubDivisiNama = "";
        SelectedKategori = "Raw";
        SelectedUkuran = "40D";
        UkuranLainnya = "";
        SelectedSatuan = "Cone";
        this.StateHasChanged();
        ModalBarangCancel();
    }
}