@page "/penawaranBarangBaru"
@using bzrArachne.Service
@using bzrArachne.Models
@inject DataService DataService
@inject PenawaranService PenawaranService
@inject NavigationManager NavigationManager
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal

<br />
<div class="card card-dark ml-4 mr-4">
    <div class="card-header">
        <h2 class="card-title">Form Penawaran</h2>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Supplier</label>
                <div class="col-sm-4">
                    <input type="text" disabled @bind="user.Nama" class="form-control">
                </div>
                @{
                    Tanggal = DateTimeOffset.UtcNow.LocalDateTime;
                }
                <label class="col-sm-1 col-form-label">Tanggal</label>
                <div class="col-sm-4">
                    <input disabled @bind="Tanggal" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Alamat</label>
                <div class="col-sm-4">
                    <textarea type="text" disabled @bind="user.Alamat" class="form-control"></textarea>
                </div>
            </div>
            <br />
            <hr />
            <!--Form Detail Penawaran-->
            <div class="card card-dark">
                <div class="card-body">
                    <h4 class="card-blue">Detail Penawaran</h4>
                    <table style="width: 100%" border="1">
                        <thead>
                            <tr>
                                <th align="center" width="9%"> <label for="Jumlah">Jumlah</label></th>
                                <th align="center" width="10%"> <label for="Satuan">Satuan</label></th>
                                <th align="center" width="30%"><label for="Nama">Nama Barang</label></th>
                                <th align="center" width="13%"><label for="Harga">Harga Satuan</label></th>
                                <th align="center" width="5%"><label for="DiskonNominal">Diskon%</label></th>
                                <th align="center" width="10%"><label for="DiskonDetil">Diskon Rp.</label></th>
                                <th align="center" width="15%"><label for="Total">Total</label></th>
                                <th align="center" width="5%"><label for="Opsi">Opsi</label></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in barangPenawarans)
                            {
                            <tr>
                                <td>
                                    <div>
                                        <input type="number" @bind="data.Jumlah" class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input type="text" disabled @bind="data.Satuan" class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input type="text" disabled @bind="data.Nama" class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input type="number" @bind="data.Harga" class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input type="number" @bind="data.DiskonNominal" class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @{
                                            data.DiskonDetil = data.Jumlah * data.Harga * data.DiskonNominal / 100;
                                        }
                                        <input type="text" @bind="data.DiskonDetil" disabled class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @{
                                            var harga_diskon = data.Jumlah * data.Harga * data.DiskonNominal / 100;
                                            data.Total = data.Harga * data.Jumlah - harga_diskon;
                                        }
                                        <input type="number" @bind="data.Total" disabled class="form-control">
                                    </div>
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <div>

                                        <a class="btn btn-danger rounded" @onclick="(() => HapusBarangDariList(data))"><i class="oi oi-trash"></i></a>
                                    </div>
                                </td>
                                @if (data.Jumlah == 0)
                                {
                                    <td>
                                        <MudTooltip Placement="Placement.Top" Text="Jumlah Tidak Boleh 0">
                                            <MudIconButton Icon="@Icons.Material.Filled.Info" Color="MudBlazor.Color.Error" />
                                        </MudTooltip>
                                    </td>
                                }
                                else if (data.Jumlah + data.Stok > data.Maksimum)
                                {
                                    var Max = data.Maksimum - data.Stok;
                                    var msg = "Jumlah lebih dari " + Max.ToString();
                                    <td>
                                        <MudTooltip Placement="Placement.Top" Text="@msg">
                                            <MudIconButton Icon="@Icons.Material.Filled.Info" Color="MudBlazor.Color.Error" />
                                        </MudTooltip>
                                    </td>
                                }
                                else if (data.Harga <= 0)
                                {
                                    <td>
                                        <MudTooltip Placement="Placement.Top" Text="Harga Tidak Boleh 0!">
                                            <MudIconButton Icon="@Icons.Material.Filled.Info" Color="MudBlazor.Color.Error" />
                                        </MudTooltip>
                                    </td>
                                }
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td align="right" colspan="10"><a class="btn btn-success rounded-circle" @onclick="@ModalShow"><i class="oi oi-plus"></i></a></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label border-danger">Catatan Penawaran</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <textarea type="text" class="form-control"></textarea>
                        </div>
                        <div class="col-sm-8 align-items-end pull-right right right">
                            @{
                                _grandtotal = barangPenawarans.Sum(m => m.Total);
                                _grandDetil = barangPenawarans.Sum(m => Convert.ToDouble(m.DiskonDetil));
                                _grandDiskon = barangPenawarans.Sum(m => m.DiskonNominal);
                            }
                            <label class="col-sm-4 col-form-label">Total Penawaran (Rp.) : </label>
                            <input style="text-align:center" type="number" disabled @bind="_grandtotal" class="col-sm-4 col-form-label rounded-pill border border-success" />
                        </div>
                    </div>
                </div>
            </div><!-- /.card-body -->
            <div class="card-footer">
                <button type="button" @onclick="(() => BackToBarang())" class="btn btn-default">Batal</button>
                <button type="submit" @onclick="(() => SendDataPenawaran())" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    <!--MODAL-->
    @if (showModal)
    {
        <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Barang</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th> Nama </th>
                                    <th> Satuan </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ItemBaru in _daftarBarang)
                                {
                                    <tr>
                                        <td>
                                            @ItemBaru.Nama
                                        </td>
                                        <td>@ItemBaru.Satuan</td>
                                        <td>
                                            <a tabindex="_blank" @onclick="(() => TambahBarangKeList(ItemBaru))" class="btn btn-block btn-primary btn-sm">
                                                ADD
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn" @onclick="@ModalCancel">Tutup</button>
                    </div>

                </div>
            </div>
        </div>
    }
    <!--MODAL-->
</div>


@code {
    //MODAL
    DateTimeOffset Tanggal { get; set; }
    double _grandtotal { get; set; }
    double _grandDiskon { get; set; }
    double _grandDetil { get; set; }
    bool showModal = false;
    void ModalShow() =>showModal = true;
    void ModalCancel() => showModal = false;
    Random rnd = new Random();

    private DataUser user = new DataUser();
    private DataPenawaran dataPenawaran = new DataPenawaran();
    private List<DataBarang> _daftarBarang = new List<DataBarang>();
    List<BarangPenawaran> barangPenawarans = new List<BarangPenawaran>();

    protected override async Task OnInitializedAsync()
    {
        user = DataService.User;
        var Token = DataService.Token;
        if (!String.IsNullOrEmpty(Token))
        {
            var dataBarang = DataService.GetDataBarangWithGroupBy();
            await foreach (var item in dataBarang)
            {
                if (item.Stok <= item.Minimum)
                {
                    _daftarBarang.Add(new DataBarang
                    {
                        IdBarang = item.IdBarang,
                        IdDivisiBarang = item.IdDivisiBarang,
                        IdSubDivisiBarang = item.IdSubDivisiBarang,
                        IdKategoriBarang = item.IdKategoriBarang,
                        IdSubKategoriBarang = item.IdSubKategoriBarang,
                        IdSupplier = item.IdSupplier,
                        IdJenisSupplier = item.IdJenisSupplier,
                        IdSatuan = item.IdSatuan,
                        Nama = item.Nama,
                        Satuan = item.Satuan,
                        Stok = item.Stok,
                        Minimum = item.Minimum,
                        Maksimum = item.Maksimum,
                        NamaSupplier = item.NamaSupplier
                    });
                    this.StateHasChanged();
                }
            }
        }else
        {
            NavigationManager.NavigateTo("/");
        }

    }

    void TambahBarangKeList(DataBarang ItemBaru)
    {
        barangPenawarans.Add(new BarangPenawaran
        {
            IdBarang = ItemBaru.IdBarang,
            IdDetilPenawaranPembelian = rnd.Next(1, 1000),
            IdSatuan = ItemBaru.IdSatuan,
            IdDivisiBarang = ItemBaru.IdDivisiBarang,
            IdSubDivisiBarang = ItemBaru.IdSubDivisiBarang,
            IdKategoriBarang = ItemBaru.IdKategoriBarang,
            IdSubKategoriBarang = ItemBaru.IdSubKategoriBarang,
            Satuan = ItemBaru.Satuan,
            Nama = ItemBaru.Nama,
            Stok = ItemBaru.Stok,
            Minimum = ItemBaru.Minimum,
            Maksimum = ItemBaru.Maksimum
        });
        _daftarBarang.Remove(ItemBaru);
        ModalCancel();
    }

    void HapusBarangDariList(BarangPenawaran Item)
    {
        DataService.SetNullBarangDipilih();
        barangPenawarans.Remove(Item);
    }
    void BackToBarang()
    {
        DataService.SetNullBarangDipilih();
        NavigationManager.NavigateTo("dataBarang");
    }

    async void SendDataPenawaran()
    {
        dataPenawaran = new DataPenawaran
        {
            IdPenawaranPembelian = rnd.Next(1, 1000),
            IdJenisSupplier = user.IdJenisSupplier,
            IdSupplier = user.IdSupplier,
            IdCompanyPenerima = "GWR",
            BarangPenawaran = barangPenawarans,
            GrandTotal = _grandtotal,
            DiskonDetil = _grandDetil.ToString(),
            DiskonNominal = _grandDiskon
        };
        var send = await PenawaranService.InsertDataRepeated(dataPenawaran);
        DataService.SetNullBarangDipilih();
        barangPenawarans.Clear();
        dataPenawaran = null;
        if (send)
        {
            await Swal.FireAsync(
             "Sukses",
             "Data Penawaran Berhasil terkirim :)",
             SweetAlertIcon.Success
             );
            NavigationManager.NavigateTo("dataBarang");
        }
        else
        {
            await Swal.FireAsync(
            "Gagal",
            "Data Penawaran gagal terkirim :)",
            SweetAlertIcon.Error
            );
        }
    }
}