@page "/penawaranBaru"
@using bzrArachne.Service
@using bzrArachne.Models
@inject DataService DataService
@inject PenawaranService PenawaranService
@inject NavigationManager NavigationManager
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal;

<br />
<div class="card card-dark ml-4 mr-4">
    <div class="card-header">
        <h2 class="card-title">Form Penawaran</h2>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Supplier</label>
                <div class="col-sm-4">
                    <input type="text"  disabled @bind="Item.NamaSupplier" class="form-control">
                </div>
                <label class="col-sm-1 col-form-label">Tanggal</label>
                <div class="col-sm-4">
                    <input @bind="dataPenawaran.Tanggal" disabled class="form-control">
                </div>
                <div>@DateTimeOffset.UtcNow.LocalDateTime</div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Alamat</label>
                <div class="col-sm-4">
                    <textarea type="text" disabled @bind="Item.AlamatSupplier" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <!--Form Detail Penawaran-->
        <div class="card card-dark">
            <div class="card-body">
                <h4 class="card-blue">Detail Penawaran</h4>
                <table style="width: 100%" border="1">
                    <thead>
                        <tr>
                            <th align="center" width="10%"> <label for="Jumlah">Jumlah</label></th>
                            <th align="center" width="10%"> <label for="Satuan">Satuan</label></th>
                            <th align="center" width="20%"><label for="Nama">Nama Barang</label></th>
                            <th align="center" width="20%"><label for="Harga">Harga Satuan</label></th>
                            <th align="center" width="10%"><label for="DiskonNominal">Diskon%</label></th>
                            <th align="center" width="10%"><label for="DiskonDetil">Diskon Rp.</label></th>
                            <th align="center" width="10%"><label for="Total">Total</label></th>
                            <th align="center" width="10%"><label for="Opsi">Opsi</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in ListDataBarang)
                        {
                        <tr>
                            <td>
                                <div>
                                    <input type="number" min="1" @bind="dataPenawaran.Jumlah" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" disabled min="1" @bind="data.Satuan" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" disabled min="1" @bind="data.Nama" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="number" min="1" @bind="dataPenawaran.Harga" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="number" min="1" @bind="dataPenawaran.DiskonNominal" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text"  min="1" @bind="dataPenawaran.DiskonDetil" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="number" min="1" @bind="totalharga" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <button class="btn btn-danger"  @onclick="(() => HapusBarangDariList(data))"><i class="oi oi-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td align="right" colspan="8"><button class="btn btn-success" @onclick="@ModalShow"><i class="oi oi-plus"></i></button></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Catatan Penawaran</label>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <textarea type="text" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div><!-- /.card-body -->
        <div class="card-footer">
            <button type="button" @onclick="(() => BackToBarang())" class="btn btn-default">Batal</button>
            <button type="submit" @onclick="(() => SendDataPenawaran(ListDataBarang))" class="btn btn-primary">Submit</button>
        </div>
    </form>


    <!--MODAL-->
    @if (showModal)
    {
        <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Barang</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th> Nama </th>
                                    <th> Satuan </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ItemBaru in _daftarBarang)
                                {
                                    <tr>
                                        <td>
                                            @ItemBaru.Nama
                                            @if (ItemBaru.Stok <= ItemBaru.Minimum)
                                            {<i style="color:red; padding:8px;" class="fa fa-exclamation-circle" aria-hidden="true"></i>}
                                        </td>
                                        <td>@ItemBaru.Satuan</td>
                                        <td>
                                            @if (ItemBaru.Stok <= ItemBaru.Minimum)
                                            {<a tabindex="_blank" @onclick="(() => TambahBarangKeList(ItemBaru))" class="btn btn-block btn-primary btn-sm">
                                                    ADD
                                                </a>}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn" @onclick="@ModalCancel">Cancel</button>
                        <button type="button" class="btn btn-success" @onclick=@ModalOk>add</button>
                    </div>

                </div>
            </div>
        </div>
    }
    <!--MODAL-->


</div>


@code {
    //MODAL
    bool showModal = false;
    void ModalShow() => showModal = true;
    void ModalCancel() => showModal = false;
    void ModalOk()
    {
        Console.WriteLine("Modal ok");
        showModal = false;
    }
    //MODAL
    private DataUser user = new DataUser();
    List<DataBarang> ListDataBarang = new List<DataBarang>();
    public string ValidationMesssage { get; set; }
    private DataBarang Item { get; set; }
    private DataBarang ItemBaru { get; set; }
    int Jumlah { get; set; } = 0;
    private double totalharga;
    private DataPenawaran dataPenawaran = new DataPenawaran();
    private List<DataBarang> _daftarBarang = new List<DataBarang>();
    void TambahBarangKeList(DataBarang ItemBaru)
    {
        DataService.SetBarangBaruDipilih(ItemBaru);
        ListDataBarang.Add(ItemBaru);
        ModalCancel();
    }

    void HapusBarangDariList(DataBarang Item)
    {
        DataService.SetNullBarangDipilih();
        DataService.SetBarangDipilih(Item);
        ListDataBarang.Remove(Item);
    }
    protected override async Task OnInitializedAsync()
    {
        Item = DataService._barangDipilih;
        ListDataBarang.Add(Item);
        user = DataService.User;
        var Token = DataService.Token;
        if (!String.IsNullOrEmpty(Token))
        {

            var dataBarang = DataService.GetDataBarangWithStream();
            await foreach (var item in dataBarang)
            {
                _daftarBarang.Add(new DataBarang
                {
                    IdBarang = item.IdBarang,
                    IdDivisiBarang = item.IdDivisiBarang,
                    IdSubDivisiBarang = item.IdSubDivisiBarang,
                    IdKategoriBarang = item.IdKategoriBarang,
                    IdSubKategoriBarang = item.IdSubKategoriBarang,
                    IdSupplier = item.IdSupplier,
                    IdJenisSupplier = item.IdJenisSupplier,
                    IdSatuan = item.IdSatuan,
                    Nama = item.Nama,
                    Satuan = item.Satuan,
                    Stok = item.Stok,
                    Minimum = item.Minimum,
                    Maksimum = item.Maksimum,
                    NamaSupplier = item.NamaSupplier
                });
                this.StateHasChanged();
            }
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }

    void BackToBarang()
    {
        DataService.SetNullBarangDipilih();
        NavigationManager.NavigateTo("dataBarang");
    }

    async void SendDataPenawaran(List<DataBarang> ListDataBarang)
    {
        ListDataBarang = ListDataBarang;
        await Swal.FireAsync("Yeay!!!", "Data Berhasil Disimpan", "success");
        NavigationManager.NavigateTo("dataBarang");
    }
    void HitungHarga()
    {
        //totalharga = Item.Stok * dataPenawaran.Berat;
    }
}
